.nav-hover {
  position: relative;
  transition: color 0.3s ease;
}

.nav-hover:hover {
  color: #007bff;
}

.nav-hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.nav-hover:hover::after {
  width: 100%;
}

.signup-btn:hover {
  background-color: #5a6268 ;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
